body{
    margin: 0px;
    padding: 0px
    }

#contenedor{
    width:100%;
    height:100%;
    }

#encabezado {
    background-image:url(../img/bosque1.jpg);
    width:100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100%;

}

#menu{
        
    font-size: 20px;
    
}
    
#titulo{
    font-size: 35px;
        
}

    
#menu a{
    color: greenyellow;
}

#cuerpo{
    font-size: 14pt;
    color:rgb(35, 35, 39);
    background-color:beige;
    border: rgb(35, 35, 39) 5px solid;
    border-bottom: rgb(35, 35, 39) 4px solid
    
}

.sub_titulo1{
    text-align: center;
    font-size: 50pt;

}

.sub_titulo2{
    text-align: center;

}

.sub_titulo3{
    text-align: center;

}

.sub_titulo4{
    text-align: center;

}



.marquesina{
    background-color:rgb(35, 35, 39);
    color: greenyellow;
    -webkit-text-stroke: 0.0015px rgb(35, 35, 39);
    height: 28px;

}

#pie{
    text-align: center;
    background-color: beige;
    border: rgb(35, 35, 39) 4px solid;
    border-top: rgb(35, 35, 39) 0.5px solid;
    
}

/* //////////////////////////////////////////// */

.sub_titulo1_html2{
    text-align: center;

}

.parrafo1{
    text-align: center;
    padding-left:15%;
    padding-right: 15%;
 -webkit-text-stroke: 0.01px whitesmoke;
    font-size: 16pt;
    
}

/* //////////////////////////////////////////// */

.ol_html3{
    list-style: circle;
    display: block;
    padding-left:  25%;
    padding-right: 25%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.01px whitesmoke;
    font-size: 16pt;
    color: rgb(35, 35, 39);

}


/* //////////////////////////////////////////// */

.subtitulo_c{
    text-align: center;

}

.parrafo_c{
    text-align: center;

}

.row{
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1%;
}

.row label{
    padding-left: 25%;

}

.form-floating{
    padding-top: 3%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 1%;

}

.form-floating label{
    padding-left: 20%;
    padding-top: 4%;
}

.col-12{
   padding-left: 47%;
   padding-top: 1%;
   padding-bottom: 4%;

}

.col-12 button{
    color: greenyellow ;
    background-color: rgb(35, 35, 39) ;

}



